*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    font-size: 62.5%;
    --main-color: #090c0c;
    --second-color:green;
    --text-color1: white;
    --text-color2: rgba(26, 21, 21, 0.863);
}
@import "https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@1,300&display=swap";

body{
    /* background: url("./pexels-photo-4067896.jpeg") no-repeat;
    background-position: center;
    background-size: cover; */
    background-color: #b5e6eb;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2.5rem;
    
}


/* @font-face{
    font-family: "Ruhl";
    src: url("/fonts/Frank_Ruhl_Libre/FrankRuhlLibre-Regular.ttf");
}
@font-face{
    font-family: "Ruhl Medium";
    src: url("/fonts/Frank_Ruhl_Libre/FrankRuhlLibre-Medium.ttf");
}

@font-face{
    font-family: "Vibes";
    src: url("./fonts/Great_Vibes/GreatVibes-Regular.ttf");
} */

header{
    min-height: 10vh;
    font-size: 2rem;
    z-index:2;
    box-shadow: 0 1rem 1rem rgba(0,0,0,0.1);
    background-color: white;
    
}

nav {
    
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
    padding: 2rem 0;
}

.logo{
    flex: 1 1 40rem;
    color: var(--text-color1);
    font-family: 'Great Vibes',sans-serif;
}

.logo a{
    
    font-size: 3.5rem;
}

.nav-links{
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.693);
    font-size: 2.5rem;
    font-family: "Ruhl" , sans-serif;
}


.burger{
    display: none;
}

.big-text{
    font-size: 3.5rem;
    letter-spacing: 0.4rem;
    padding: 3rem 0;
}


footer{
    font-size: 3rem;
    text-align: center;
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, -2%);
    color: var(--text-color2);
}
/* add personne page */
.center{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-35%);
    
}

.search-bar{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-10%);
    margin:3rem 0;
}
.search-bar input{
    width:40rem;
    height:4rem;
}
.search-bar input:focus{
    outline: none;
}
.search-bar button{
    padding: .6rem 2rem;
    background-color: rgb(48, 48, 135);
    color: white;

}



.center label{
    font-size: 2rem;
    margin-left: 1rem;
    
}
.input-class{
    margin: 1rem;
    height:4rem;
    min-width: 70rem;
    border: none;
    border-bottom: 2px solid var(--main-color);
    font-size: 2.5rem;
}
.input-class:focus{
    outline: none;
    border-bottom: 0.3rem solid green;
}

.button-form{
    background: none;
    min-width: 35rem;
    height: 6rem;
    margin: 3rem 0 0 1rem;
    text-align: center;
    border: none;
    background-color: var(--main-color);
    color: var(--text-color1);
    border-radius: 4px;
    margin-left: 20rem;  
    cursor: pointer;
    transition: all 1s ease-in-out;
    font-size: 2.5rem;
}
.button-from:focus{
    outline: none;
    
}

.button-form:hover{
    background-color: var(--second-color);
    color: var(--text-color1);
}

/* add annoce page */



textarea{
    min-width: 70rem;
    margin: 1.5rem 0 1.5rem 1rem;  
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid var(--main-color);
    border-radius: 4px;
    font-size: 16px;
    resize: none;
}
textarea:focus{
    outline: none;
    border-bottom: 2px solid var(--second-color);
}

select{
    min-width: 70rem;
    margin-left: 1rem;
    padding: 1rem 0;
    margin-top: 2rem;
    border:none;
    background:none;
    border-bottom: 2px solid var(--main-color);
}

select:focus{
    outline: none;
    border-bottom: 0.3rem solid green;
}

/* .inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
} */

/* personnes page */

.center-table{
    position: absolute;
    top: 35%;
    left: 40%;
    transform: translate(-40%,-35%);
    
}


.content-table{
    border-collapse: collapse;
    margin: 2.5rem 0;
    min-width: 80rem;
    border-radius: 0.5rem 0.5rem 0 0;
    overflow: hidden;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.15);
    font-size: 2rem;
}
.content-table thead tr{
    text-align: left;
    background-color: var(--main-color);
    color: var(--text-color1);
    font-weight: bold;
}
.content-table th, .content-table td{
    padding: 1.2rem 1.5rem;
}
.content-table tbody tr{
    border-bottom: 0.1rem solid #dddddd;
}

.content-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}
.content-table tbody tr:last-of-type{
    border-bottom: 0.2rem solid #0098;
}

.buttons{
    display: flex;
    align-items: center;
    
}
.btn{
    border: none;
    cursor: pointer;
    background: none;
    color: var(--text-color1);
    padding: 1.5rem 3rem;
    font-size: 2rem;
    border-radius: 1rem;
}

.buttons .suprime{
    margin-left:1rem ;
    background-color:red ;
}


.buttons .modifier{
    background-color: green ;
}

/* annoce page */
.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 3rem;
    padding: 4rem 0;
    
}
.annoce{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 3rem 0;
    font-family: 'Open Sans Condensed', sans-serif;
}
.annoce img{
    background-size: cover;
    background-position: center;
    height: 25rem;
    width: 45rem;
    padding-bottom: 1rem;
}

.data{
    display: flex;
    color: var(--text-color2);   
    position: relative; 
    width: 45rem;
}
.data h4{
    position: absolute;
    left: 0;
}
.data p{
    position: absolute;
    right: 0;
}
/* annoce detail page */

.annoce-detail{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-30%,-50%);
}


.single-annoce{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.link{
    padding: 1rem 4rem;
    display: inline-block;
    width: 16rem;
    background-color: black;
    color: white;
    margin: 0 0 2rem 2rem;
    border-radius: 1.5rem;
}
.link:hover{
    background-color: white;
    color: black;
    transition: all 1s ease-in-out;
}

.ann{
    display: flex;
    
    justify-content: space-between;

}

.single-annoce img{
    margin: 0 0 2rem 2rem;
    height: 40rem;
    width: 60rem;
    background-size: cover;
    background-position: center;

}

.espace{
    padding-bottom: 2rem;
}

.data-detail{
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25rem;
    height: 40rem;
}
.btn-annoce{
    margin-left: 2rem;
}
.btn-annoce .suprime{
    margin-left: 33rem;
}

.deposer_par{
    margin-left: 6rem;
    width: 35rem;
    height: 40rem;
}

.deposer_par ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.deposer_par ul li{
    margin: 2.5rem 0;
}


/* login */

.login{
    position: relative;
    background-color: blue;
}

.form-class{
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 50%);
}

.pagination{
    display: flex;
    align-items: center;
    width: 97%;
    margin: auto;
    position: absolute;
    left: 1.5%;
    bottom: 1%;
    right: 2%;
    margin-bottom: 1rem ;
}
.pagination .tag{
    flex: 1 1 40rem;
}
.pagination a{
    padding: 1rem 2rem;
    background-color:  rgb(64, 3, 135);
    color: white;
    text-decoration: underline;
}
.pagination p {
    padding: 1rem 1rem ;
    background-color: rgb(64, 3, 135);
    color: white;
}

.p-personne{
    position: absolute;
    bottom: -8%;
    left: 50%;
    transform: translate(-50%,-2%);
    background-color: rgb(64, 3, 135);
    color: white;
    padding: 1rem 1rem;
    
}

@media screen and (max-width: 800px){

    /* Burger things */
    
    .burger{
        position: relative;
        display: block;
        cursor: pointer;
        
    }
    .burger span{
        padding: 0.2rem 2rem;
        margin:0.5rem 0;
        display: block;
        background-color: var(--text-color1);
        transition: all 1s ease-in-out;
        
    }
    .nav-links a{
        text-decoration: underline;
        color: var(--text-color1);
        font-size: 3rem;
    }
    .nav-links{
        
        background-color: var(--main-color);
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: transform 1s ease-in-out;
    }
    
    .nav-open{
        transform: translate(-100%);
    }
   
    .toggle .line1{
        transform: rotate(45deg) translateY(300%);
        background: var(--text-color1);
    }
    .toggle .line2{
        opacity: 0;
    }
    .toggle .line3{
        transform: rotate(-45deg) translateY(-320%);
        background: var(--text-color1);
    }
}